asn1crypto==0.24.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.1
furl==1.0.1
idna==2.6
orderedmultidict==0.7.11
Pillow==5.0.0
pycparser==2.18
requests==2.18.4
requests-ntlm==1.1.0
six==1.11.0
urllib3==1.22
zbarlight==2.0
